/*
light purple background: #A9AAD2
grey background: #EAEAF4

Nav
dark purple background: #1F1F3D
font:
font color: #E9E9F3
little line color: #353567
Filter starred ideas font color: #BFBFDD
starred button font color: #E9E9F3
saved button background color: #5356A4
*/


body{
  display: flex;
  overflow: hidden;
  margin: 0;
}

nav {
  background-color: #1F1F3D;
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100vh;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  color: #E9E9F3;
}

h1 {
  padding-left: 10px;
}

h2 {
  color: #BFBFDD;
  font-size: 12px;
  padding-left: 10px;
}

hr {
  border-top: solid #353567;
  width: 240px;
  margin: 0;
  padding: 0;
}

.show-starred-ideas {
  display: flex;
  background-color: #5356A4;
  color: #E9E9F3;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  border-radius: 1px;
  margin: 15px 10px 15px 10px;
  padding: 8px 0px 4px 20px;
  border: 1.75px solid #5356A4;
}


.box-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

form {
  background-color: #A9AAD2;
  font-family: 'Open Sans';
  font-weight: bold;
  color: #1F1F3D;
  align-items: center;
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin-left: 1px;
}

input {
  height: 30px;
  width: 300px;
  border: 1.75px solid #5356A4;
}

#form-body {
  height: 60px;
  width: 300px;
}


section{
  background-color: #EAEAF4;
  height: 60vh;
  width: 100vw;
  margin-left: 1px;
}

.save-button {
  background-color: #1F1F3D;
  color: #E9E9F3;
  border-radius: 1px;
  margin: 15px 10px 15px 10px;
  height: 40px;
  width: 310px;
  border: 1.75px solid #5356A4;
}

img {
  background-color: #1F1F3D;
  padding: 5px;
  height: 25px;
  width: 25px;
}

.search-box-area{
  display: flex;
}
.div-title, .div-form {
  display: flex;
  flex-direction: column;
}
#search-box{
  height: 30px;
  width: 270px;
  border: 1.75px solid #5356A4;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: -10%;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  font-weight: bold;
  margin: 20px;
  width: 250px;
  flex-wrap: wrap;
  border: 2px solid #1F1F3D;
}

.card-header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  background-color: #1F1F3D;
}

.title {
  font-weight: bold;
}

.card-body {
  color: #1F1F3D;
  font-weight: lighter;
  font-size: 18px;
  height: 200px;
  padding: 10px;
}

.card-footer {
  display: flex;
  align-items: center;
  height: 35px;
  color: #E9E9F3;
  background-color: #5356A4;
}


.hidden{
  display: none!important;
}

.comment{
  background-color: #5356A4;
}
